/* Input 필드 스타일링 */
.list input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 230px; /* 적당한 너비 설정 */
  }
  
  /* 아이콘 스타일링 */
  .list svg {
    margin: 0 4px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .list svg:hover {
    color: #333; /* 마우스 오버 시 색상 변경 */
  }
  